<div class="row" >
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <p class="card-text">{{comment}}</p>
      
    </div>
    <div class="card-footer text-muted ">
      <cite >
      Posted by {{user.username}} on {{createdat}}
      </cite>
    </div>
  </div>
</div>