
<div class="container mt-3">
  <a href="/dashboard/post/{{id}}" class="btn btn-primary .btn-block col-12 text-left" role="button">{{title}}
    <span class="label label-default float-right">{{ format_date createdat }}</span>
  </a>  
</div>
